*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'Exo2-Bold';
    src: url("./assets/fonts/Exo2-Bold.ttf");
}
@font-face {
    font-family: 'Exo2-Medium';
    src: url("./assets/fonts/Exo2-Medium.ttf");
}
@font-face {
    font-family: 'Exo2-Regular';
    src: url("./assets/fonts/Exo2-Regular.ttf");
}
@font-face {
    font-family: 'Exo2-Light';
    src: url("./assets/fonts/Exo2-Light.ttf");
}
.contacts-block{
    width: 1000px;
    height: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 70px;
}
.title-box{
    margin-top: 70px;
    margin-bottom: 70px;
    text-align: center;
    font-size: 45px;
    font-family: "Exo2-Bold", Arial, sans-serif;
    color: rgba(73, 73, 73, 1);
}
.title-text {
    position: relative;
}
.title-text:after {
    display: block;
    position: absolute;
    left: 0;
    bottom: -7px;
    height: 2px;
    background-color: #5E8FEF;
    border-radius: 5px;
    content: "";
    width: 180px;
}
.information{
    height: 358px;
    display: flex;
    flex-direction: column;
}
.info-row{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.info-row p{
    font-size: 22px;
    font-family: 'Exo2-Light', Arial, sans-serif;
}
.back-round{
    height: 67px;
    width: 67px;
    border-radius: 100%;
    background-color: #EFF4FF;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
}
.map-block{
    
}
.map-img{
    width: 100%;
    height: auto;
}