.footer{
    height: 380px;
    width: 100%;
    background-color: #37354c;
    box-shadow: inset 0px 20px 20px 0px rgb(0 0 0 / 20%);
}
hr.polosa {
    border: none;
    height: 2px;
    background: #47455acf;
}
.footer-bar__upper{
    padding-top: 80px;
    padding-bottom: 60px;
    margin: 0 auto;
    width: 1150px;
    display: flex;
    justify-content: space-between;
}
.upper__info{
    width: 309px;
}
.upper__info h5{
    margin-bottom: 20px;
    font-size: 27px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    color: white;
}
.upper__info p{
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #C2C1CA;
}
.upper__nav{
    display: flex;
    flex-direction: column;
}
.upper__nav p{
    font-size: 20px;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 20px;
}
.upper__nav a{
    font-size: 16px;
    color: #C2C1CA;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 9px;
}
.upper__contacts-title{
    font-size: 20px;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 20px;
}
.upper__contacts-contact{
    color: #C2C1CA;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 9px;
}
.footer-bar__bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    margin-right: 35px;
    width: 90%;
    margin-left: auto;
}
.footer-bar__bottom p{
    color: #C2C1CA;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}