.header{
    height: 100px;
    width: 100%;
    background-color: #F4F4F4;
}
.bar{
    display: flex;
    align-items: center;
    width: 1200px;
    height: 100px;
    margin-right: auto;
    margin-left: auto;
}
.company-name{
    margin-right: 70px;
}
.company-name__text{
    font-size: 35px;
    color: #3C3C3C;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.navigation{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-right: 70px;
    width: initial;
}
.nav-but{
    color: #3C3C3C;
    margin-right: 30px;
    text-decoration: none;
    position: relative;
    font-family: 'Exo2-Regular';
}
.company-name__text {
    text-decoration: none;
}
.nav-but:after {
    transition: 0.2s all ease-in-out;
    display: block;
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    background-color: #b1a8fb;
    border-radius: 5px;
    content: "";
    width: 0;
}
.nav-but:hover:after {
    transition: 0.2s all ease-in-out;
    width: 100%;
}
.logo{
    width: 77px;
    height: 86px;
    background-color: #B1A8FB;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.3);
    margin-right: 100px;
    padding: 14px 0 0 23px;
}
.phone__number{
    font-size: 20px;
    color: #3C3C3C;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
