*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'Exo2-Bold';
    src: url("./assets/fonts/Exo2-Bold.ttf");
}
@font-face {
    font-family: 'Exo2-Medium';
    src: url("./assets/fonts/Exo2-Medium.ttf");
}
@font-face {
    font-family: 'Exo2-Regular';
    src: url("./assets/fonts/Exo2-Regular.ttf");
}
.main{

}
.title-block{
    width: 100%;
    height: auto;
    background: url('./assets/picture/fyv.png') no-repeat center;
    background-size: cover;
}
.title-block img{
    width: 100%;
    height: auto;
}
.title-block__text{
    width: 50%;
    height: 100%;
    background-color: rgba(54, 48, 90, 0.72);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title-block__text h1{
    font-size: 55px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    height: initial;
    width: 400px;
}
.title-block__text p{
    color: white;
    font-size: 22px;
    font-family: 'Exo2-Medium', Arial, sans-serif;
    height: initial;
    width: 400px;
    margin-top: 15px;
}
.why-block{
    width: 1000px;
    margin: 100px auto 0 auto;
}
.title-box{
    margin-bottom: 70px;
    text-align: center;
    font-size: 45px;
    font-family: "Exo2-Bold", Arial, sans-serif;
    color: rgba(73, 73, 73, 1);
}
.title-text {
    position: relative;
}
.title-text:after {
    display: block;
    position: absolute;
    left: 0;
    bottom: -7px;
    height: 2px;
    background-color: #5E8FEF;
    border-radius: 5px;
    content: "";
    width: 120px;
}
.why-block__cards{
    display: flex;
    justify-content: space-between;
}
.card{
    width: 290px;
    height: 255px;
    box-shadow: 8px 24px 24px rgba(0, 0, 0, 0.08);
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0 50px 0;
    text-align: center;
}
.card h5{
    font-size: 16px;
    font-family: 'Exo2-Regular';
    font-weight: bold;
    color: rgba(73, 73, 73, 1);
    margin: 15px 0 20px 0;
}
.card p{
    font-size: 14px;
    font-family: "Exo2-Medium", Arial, sans-serif;
    color: rgba(73, 73, 73, 1);
    width: 250px;

}
.projects-block{
    margin-top: 100px;
    margin-bottom: 100px;
}
.projects-block__info{
    display: flex;
    justify-content: space-between;
    width: 940px;
    height: 805px;
    margin: 0 auto 0 auto;
}
.projects-block__column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.projects-block__column p{
    width: 598px;
    height: 180px;
    font-size: 22px;
    /*font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;*/
    font-family: "Exo2-Medium", Arial, sans-serif;
    line-height: 1.7;
    color: #494949;
}
.reqs-block{
    width: 1050px;
    height: initial;
    margin: 0 auto;
    padding-bottom: 100px;
}
.reqs-block__columns{
    display: flex;
    justify-content: space-between;
}
.company-info{
    width: 506px;
    height: 490px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.company-info p{
    color: #494949;
    font-size: 22px;
    font-family: "Exo2-Medium", Arial, sans-serif;
}
.company-info li{
    color: #494949;
    font-size: 22px;
    margin: 0 0 10px 20px;
    font-family: "Exo2-Medium", Arial, sans-serif;
}
.requisites{
    width: 360px;
    height: 450px;
}
.requisites p{
    color: #494949;
    font-size: 22px;
    font-family: "Exo2-Medium", Arial, sans-serif;
}
