*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'Exo2-Bold';
    src: url("./assets/fonts/Exo2-Bold.ttf");
}
@font-face {
    font-family: 'Exo2-Medium';
    src: url("./assets/fonts/Exo2-Medium.ttf");
}
@font-face {
    font-family: 'Exo2-Regular';
    src: url("./assets/fonts/Exo2-Regular.ttf");
}
.wemade-block{
    padding-top: 70px;
    width: 1080px;
    height: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.wemade-block__title{
    margin-bottom: 40px;
    text-align: left;
    font-size: 45px;
    font-family: "Exo2-Bold", Arial, sans-serif;
    color: rgba(73, 73, 73, 1);
    width: 380px;
}
.wemade-block__text{
    width: 540px;
    height: 730px;
}
.wemade-block__text p{
    font-size: 22px;
    line-height: 1.6;
    font-family: 'Exo2-Regular', Arial, sans-serif;
    margin-bottom: 22px;
}
.wemade-block__pics{
    width: 511px;
    height: 870px;
    display: flex;
    flex-direction: column;
}
.picture-first {
    margin-bottom: 30px;
}
.workproc-block{
    width: 1080px;
    height: 1700px;
    margin: 0 auto;
    padding-top: 70px;
}
.workproc-block__row1{
    height: 742px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.row1-pics{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.row1-text{
    width: 520px;
}
.row1-title{
    margin-bottom: 40px;
    text-align: left;
    font-size: 45px;
    font-family: "Exo2-Bold", Arial, sans-serif;
    color: rgba(73, 73, 73, 1);
    width: 380px;
}
.title-box{
    margin-bottom: 40px;
    text-align: left;
    font-size: 45px;
    font-family: "Exo2-Bold", Arial, sans-serif;
    color: rgba(73, 73, 73, 1);
    width: 380px;
}
.title-text {
    position: relative;
}
.title-text:after {
    display: block;
    position: absolute;
    left: 0;
    bottom: -7px;
    height: 2px;
    background-color: #5E8FEF;
    border-radius: 5px;
    content: "";
    width: 100%;
}
.row1-text p{
    font-size: 22px;
    font-family: 'Exo2-Regular', Arial, sans-serif;
    margin-bottom: 22px;
    line-height: 1.6;
}
.workproc-block__row2{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.workproc-block__row3{
    display: flex;
    justify-content: space-between;
}


