*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'Exo2-Bold';
    src: url("./assets/fonts/Exo2-Bold.ttf");
}
@font-face {
    font-family: 'Exo2-Medium';
    src: url("./assets/fonts/Exo2-Medium.ttf");
}
@font-face {
    font-family: 'Exo2-Regular';
    src: url("./assets/fonts/Exo2-Regular.ttf");
}
.annotation {
    width: 1200px;
    margin: 80px auto;
    height: initial;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.annotation-two {
    width: 1200px;
    margin: 80px auto;
    height: initial;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container__description-part-one {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.annotation__picture {
    background: url("./assets/picture/pool.jpeg") no-repeat center;
    background-size: cover;
    width: 680px;
    box-shadow: 21px 19px 0px #ededed;
    height: 400px;
}
.annotation__picture-land {
    background: url("./assets/picture/landhaft.jpg") no-repeat center;
    background-size: cover;
    width: 680px;
    box-shadow: 21px -19px 0px #ededed;
    height: 400px;
}
.annotation__description {
    padding: 20px 20px 0 60px;
    width: 500px;
    line-height: 1.6;
    color: rgba(73, 73, 73, 1);
}
.annotation__description h4 {
    font-family: 'Exo2-Bold', Arial, sans-serif;
    font-size: 35px;
    margin-bottom: 30px;
}
.description__text-two {
    margin-top: 10px;
    padding: 0 0 0 30px;
    line-height: 1.6;
    color: rgba(73, 73, 73, 1);

}
.annotation__description .description__text, .description__text-two {
    font-family: 'Exo2-Regular', Arial, sans-serif;
    font-size: 22px;
}
.title-box{
    text-align: center;
    font-size: 45px;
    font-family: "Exo2-Bold", Arial, sans-serif;
    color: rgba(73, 73, 73, 1);
}
.title-text {
    position: relative;
}
.title-text:after {
    display: block;
    position: absolute;
    left: 0;
    bottom: -7px;
    height: 2px;
    background-color: #5E8FEF;
    border-radius: 5px;
    content: "";
    width: 180px;
}
.services {
    width: 1200px;
    height: initial;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 80px;
}
.services__container {
    margin:  80px 0 0 0;
    height: initial;
    width: initial;
    display:  grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 40px;
}
.grid__card {
    background: #729DF1;
    padding: 20px;
    position: relative;
}
.grid__card .card__title {
    font-size: 22px;
    font-family: 'Exo2-Regular', Arial, sans-serif;
    color: #F4F4F4;
}
.grid__card:nth-child(10) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
}
.grid__card:nth-child(11) {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
}
.card-description {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    background: #FAFAFA;
    padding: 30px;

    font-size: 22px;
    line-height: 1.6;
    font-family: 'Exo2-Regular', Arial, sans-serif;
    color: rgba(73, 73, 73, 1);
}
.card__icon {
    width: 115px;
    height: 90px;
    position: absolute;
    right: 10px;
    bottom: 10px;
    background-size: contain;
}
.icon-one {
    background: url("./assets/icons/rekom1.svg") no-repeat center;
}
.icon-two {
    background: url("./assets/icons/rekom2.svg") no-repeat center;
}
.icon-three {
    background: url("./assets/icons/rekom6.svg") no-repeat center;
}
.icon-four {
    background: url("./assets/icons/rekom12.svg") no-repeat center;
}
.icon-five {
    background: url("./assets/icons/rekom8.svg") no-repeat center;
}
.icon-six {
    background: url("./assets/icons/rekom9.svg") no-repeat center;
}
.icon-seven {
    background: url("./assets/icons/rekom3.svg") no-repeat center;
}
.icon-eight {
    background: url("./assets/icons/rekom8.svg") no-repeat center;
}
.icon-nine {
    background: url("./assets/icons/rekom10.svg") no-repeat center;
}
.icon-ten {
    background: url("./assets/icons/rekom12.svg") no-repeat center;
}

.thesis {
    width: 100%;
    height: 300px;
    background: url("./assets/picture/back.png") no-repeat center;
    background-size: cover;
    margin-top: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.thesis .container {

    text-align: left;
    color: #fff;
    font-family: 'Exo2-Regular', Arial, sans-serif;
}
.thesis__start {
    font-size: 70px;
    font-family: 'Exo2-Bold', Arial, sans-serif;
}
.thesis__end {
    font-family: 'Exo2-Regular', Arial, sans-serif;
    font-size: 45px;
}
.services-two {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Exo2-Regular', Arial, sans-serif;

}
.services-two .container {
    margin: 0 auto;
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card__service {
    width: 460px;
    height: 300px;
    box-shadow: 0 4px 34px rgb(37 37 37 / 15%);
}
ul {
    list-style: none;
    margin: 30px;
    color: #3C3C3C;
}
li {
    margin: 15px;
    font-size: 20px;
}
.card__head {
    background: #729DF1;
    color: #F4F4F4;
    padding: 15px 30px;
    font-size: 22px;
}